{% extends 'base.html' %}

{% block content %}
    <h2>Dashboard</h2>
    <h3>Bugs</h3>
    <form>
        <fieldset>
            <legend>Filter by Status:</legend>
            <label>
                <input type="checkbox" name="visible_bugs" value="1"> NEW, REOPENED
            </label>
            <label>
                <input type="checkbox" name="visible_bugs" value="2"> RESOLVED DUPLICATE/INVALID/WONTFIX/WORKSFORME
            </label>
            <label>
                <input type="checkbox" name="visible_bugs" value="3"> RESOLVED/VERIFIED FIXED
            </label>
            <label>
                <input type="checkbox" name="visible_bugs" value="4"> RESOLVED FIXED
            </label>
            <label>
                <input type="checkbox" name="visible_bugs" value="5"> VERIFIED
            </label>
        </fieldset>
    </form>
    {% for product, value in bugs.iteritems() %}
        <h4>{{ product }}</h4>
        {% for milestone, value in value.iteritems() %}
            <h5>{{ milestone }}</h5>
            <ul class="bugs">
            {% for user, value in value.iteritems() %}
                <li>
                    <div class="user">{{ user }}{% if value %} ({{ value[0].assigned_to.real_name }}){% endif %}</div>
                    {% if not value %}
                        <span class="none">None</span>
                    {% else %}
                        <ol>
                            {% for bug in value %}
                                <li class="bug" data-id="{{ bug.id }}" data-status="{{ bug.status }}" data-resolution="{{ bug.resolution }}"
                                    data-priority="{{ bug.priority }}" data-modified="{{ bug.last_change_time }}">
                                    <a href="http://bugzil.la/{{ bug.id }}" target="_blank">
                                        <b class="status">{{ bug.status }} {{ bug.resolution }}</b>
                                        <b class="priority">{{ bug.priority }}</b>
                                        <b class="id">Bug {{ bug.id }}</b>
                                        <span class="summary">{{ bug.summary }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}

    <h2>Watch a Project</h2>
    <form action="" class="c" method="post">
        <div class="form-groups">
            <div class="form-group bz-product">
                <div class="form-label">
                    <label for="bz_product">Bugzilla Product</label>
                </div>
                <div class="form-field">
                    <input type="text" name="bz_product" id="bz_product" maxlength="50" required>
                </div>
            </div>
            <div class="form-group bz-milestone">
                <div class="form-label">
                    <label for="bz_milestone">Bugzilla Milestone</label>
                </div>
                <div class="form-field">
                    <input type="text" name="bz_milestone" id="bz_milestone" required>
                </div>
            </div>
            <div class="form-group gh-user c">
                <div class="form-label">
                    <label for="bz_milestone">GitHub User</label>
                </div>
                <div class="form-field">
                    <input type="text" name="gh_user" id="gh_user" required>
                </div>
            </div>
            <div class="form-group gh-repo c">
                <div class="form-label">
                    <label for="bz_milestone">GitHub Repo</label>
                </div>
                <div class="form-field">
                    <input type="text" name="gh_repo" id="gh_repo" required>
                </div>
            </div>
            <div class="form-group users">
                <div class="form-label">
                    <label for="id_style">Users</label>
                </div>
                <div class="form-field">
                    <p class="mapping"><span>GitHub</span> &rarr; <span>Bugzilla</span></p>
                    {% for x in range(15) %}
                    <p>
                        <span><input type="text" name="gh_users" id="gh_users"></span>
                        &rarr;
                        <span><input type="text" name="bz_users" id="bz_users"></span>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer>
            <button class="button" type="submit">Watch Them</button>
        </footer>
    </form>
{% endblock %}
